body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-container {
    display: flex;
    flex-direction: column;
    width: 850px;
    height: 850px;
}

.grid-row {
    display: flex;
}

.pixel-black {
    background-color: black;
}

